.productos {
    margin: 40px 5%;

    img {
        width: 100%;
    }
}

.card-body {
    h5 {
        font-size: $letraTam1;
    }

    p {
        font-size: $letraTam2;
    }
}

.card {
    padding: 10px;
    @include styleBorder(2px, solid, grey, 10px);

    button {
        font-size: $letraTam1;
    }
}

.tarjeta {
    max-width: 350px;
    margin-bottom: 15px;
}