#quienes1_titulo {
    grid-area: titulo1;
}
#quienes1_parrafo {
    grid-area: parrafo1;
    margin-bottom: 50px;
}
#quienes1_img {
    grid-area: img1;
}
#quienesVacio {
    grid-area: vacio;
}
#quienes2_titulo {
    grid-area: titulo2;
}
#quienes2_parrafo {
    grid-area: parrafo2;
}
#quienes2_img {
    grid-area: img2;

}
#gridQuienes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "titulo1 titulo1" "parrafo1 img1" "vacio titulo2" "img2 parrafo2";
    column-gap: 5%;
    margin: 5%;
}

.base-img-quienes {
    @include styleBorder(2px, solid, black, 0);
    width: 100%;
}
#quienes1_img {
    @extend .base-img-quienes;
    margin-bottom: 50px;
    justify-self: flex-end;
}
#quienes2_img {
    @extend .base-img-quienes;
}
#quienes1_parrafo,
#quienes2_parrafo {
    font-size: $letraTam1;
    text-align: justify;
}
#quienes1_titulo,
#quienes2_titulo {
    font-size: 3rem;
    margin-bottom: 15px;
}