@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

p {
    margin-bottom: 0px;
}

html {
    font-size: 62.5%;
}

/* ---------------- Header de todas las paginas --------------- */

.logo {
    height: 80px;
    display: inline-block;
}

.ig {
    width: 20px;
    margin-left: 5px;
}

nav {
    box-shadow: 0 0 5px 0 grey;

    ul {
        margin-right: 10px;

        li {
            margin-left: 10px;
            font-size: 1.7rem;
            
            a {
                padding-bottom: 5px;
                margin: 5px;
                text-decoration: none;
                color: black;

                &:hover {
                    color: darkorange;
                    border-bottom: 2px solid orange;
                }
            }
        }
    }
}

.seguinosIG {
    font-size: $letraTam2;
    position: absolute;
    top: 15px;
    right: 22.5px;
}

.navbar-toggler {
    border: none;
    font-size: $letraTam1;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black; 
    height: 50px;
    padding-left: 15px;

    p {
        color: white;
    }
}


/* --------------------- Index --------------------- */
@import "index";

/* --------------------- Foto comun pages --------------------- */

.foto-comun-pages {   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;

    background-image: url(../media/fotoPages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    p {
        display: inline-block;
        padding: 20px;
        font-size: 2.5rem;
        font-weight: 600;
        /* border: 3px solid black; */
        background-color: rgba(200, 66, 39, 0.783);
        margin: auto;
    }
}


/* --------------------- Productos --------------------- */
@import "productos";

/* --------------------- Productos --------------------- */
.galeria {
    row-gap: 15px;
    margin: 25px 0;
}

/* --------------------- Quienes Somos --------------------- */
@import "quienesS";

/* --------------------- Contacto --------------------- */
@import "contacto";

/* ----- Boton naranja ----- */
$botoncitoMap: (bgColor: orange, padding: 5px 10px, borde: none, radioBorde: 5px, colorLetra: white, bgColorHover: rgb(255, 192, 74), colorLHover: white);

.botoncito {
    text-decoration: none;
    background-color: map-get($botoncitoMap, bgColor);
    transition: 0.25s;
    padding: map-get($botoncitoMap, padding);
    border: map-get($botoncitoMap, borde);
    border-radius: map-get($botoncitoMap, radioBorde);
    color: map-get($botoncitoMap, colorLetra);

    &:hover {
        background-color: map-get($botoncitoMap, bgColorHover);
        color: map-get($botoncitoMap, colorLHover);
    }
}


/* --------------------- Media Queries --------------------- */
@import "mediaQ";

/* Sitio responsive */