@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

p {
    margin-bottom: 0px;
}

html {
    font-size: 62.5%;
}

/* ---------------- Header de todas las paginas --------------- */

.logo {
    height: 80px;
    display: inline-block;
}

.ig {
    width: 20px;
    margin-left: 5px;
}

nav {
    box-shadow: 0 0 5px 0 grey;
}

nav ul {
    margin-right: 10px;
}

nav ul li {
    margin-left: 10px;
    font-size: 1.7rem;
}

.seguinosIG {
    font-size: 1.5rem;
    position: absolute;
    top: 15px;
    right: 22.5px;
}

.navbar-toggler {
    border: none;
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black; 
    height: 50px;
}

footer p {
    color: white;
}


/* --------------------- Index --------------------- */

/* Video de inicio */
.boxModel-video {
    height: 91vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-image: url(../media/fondoVideo.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.boxModel-video video {
    width: 70%;
}


/* Iconos */
#icono1 {
    grid-area: ic1;
}
#icono2 {
    grid-area: ic2;
}
#icono3 {
    grid-area: ic3;
}
#icono4 {
    grid-area: ic4;
}
#ultimaFilaIconos {
    grid-area: ultIc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gridIconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    row-gap: 50px;
    column-gap: 3%;
    grid-template-areas: "ic1 ic2 ic3 ic4" "ultIc ultIc ultIc ultIc";

    margin-top: 75px;
    margin-bottom: 75px;
}

#icono1,
#icono2,
#icono3,
#icono4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#gridIconos img {
    width: 150px;
}
#gridIconos figcaption {
    font-size: 200%;
    text-align: center;
    padding-top: 30px;
}
#gridIconos a,
#gridIconos p {
    text-align: center;
    font-size: 3rem;
}
#gridIconos a {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 2.5rem;
    text-decoration: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
}


/* Fotos del final */

#gridFotosFinal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 10px;
    margin-bottom: 15px;
}
#gridFotosFinal img {
    width: 75%;
    height: 400px;
}
#gridFotosFinal p {
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    width: 25%;
}
#gridFotosFinal div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


/* --------------------- Foto comun pages --------------------- */

.foto-comun-pages {   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;

    background-image: url(../media/fotoPages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.foto-comun-pages p {
    display: inline-block;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    /* border: 3px solid black; */
    background-color: rgba(200, 66, 39, 0.783);
    margin: auto;
}

/* --------------------- Productos --------------------- */

#productos {
    margin: 40px 5%;
}

#productos img {
    width: 100%;
}

.card-body h5 {
    font-size: 2rem;
}
.card-body p {
    font-size: 1.5rem;
}
.card button {
    font-size: 2rem;
    color: black;
}


/* --------------------- Galeria de fotos --------------------- */


/* --------------------- Quienes Somos --------------------- */

#quienes1_titulo {
    grid-area: titulo1;
}
#quienes1_parrafo {
    grid-area: parrafo1;
    margin-bottom: 50px;
}
#quienes1_img {
    grid-area: img1;
    margin-bottom: 50px;
    justify-self: flex-end;
}
#quienesVacio {
    grid-area: vacio;
}
#quienes2_titulo {
    grid-area: titulo2;
}
#quienes2_parrafo {
    grid-area: parrafo2;
}
#quienes2_img {
    grid-area: img2;

}
#gridQuienes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "titulo1 titulo1" "parrafo1 img1" "vacio titulo2" "img2 parrafo2";
    column-gap: 5%;
    margin: 5%;
}

#quienes1_img,
#quienes2_img {
    border: 2px solid black;
    width: 85%;
    height: 300px;
}
#quienes1_parrafo,
#quienes2_parrafo {
    font-size: 2rem;
    text-align: justify;
}
#quienes1_titulo,
#quienes2_titulo {
    font-size: 3rem;
    margin-bottom: 15px;
}


/* --------------------- Contacto --------------------- */

/* barrita info contacto */
#infoContacto {
    padding: 20px 10px;
}

.info img {
    width: 60px;
    height: 60px;
    padding: 5px;
}
.info p {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    padding: 10px
}

/* #gridInfoContacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    justify-items: center;
}
#gridInfoContacto div {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#gridInfoContacto img {
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: white;
}
#gridInfoContacto p {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}  */

/* form */

#nombre {
    grid-area: nombre;
}
#apellido {
    grid-area: apellido;
}
#email {
    grid-area: email;
}
#telefono {
    grid-area: telefono;
}
#mensaje {
    grid-area: mensaje;
}
#enviarButton {
    grid-area: enviar;
}
#gridForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 5%;
    row-gap: 10px;
    grid-template-areas: "nombre apellido" "email telefono" "mensaje mensaje" "enviar enviar";

    margin: 50px 25%;
}

#gridForm input,
#gridForm textarea {
    width: 100%;
}
#gridForm input {
    height: 30px;
}
#gridForm textarea {
    resize: none;
}
#enviarButton {
    justify-self: center;
}
#enviarButton button {
    font-size: 2rem;
    color: black;
}
#gridForm label {
    font-size: 1.75rem;
}
#campoObligatorio {
    font-size: 1.3rem;
}


/* --------------------- Media Queries --------------------- */

@media screen and (max-width: 767px) {
    /* Nav */
    .logo {
        height: 65px;
    }

    .seguinosIG {
        display: none;
    }

    /* Index */
    #seguinosCelu {
        height: 30px;
        text-align: center;
        font-size: 1.3rem;
        position: relative;
        top: 5px;
    }

    .boxModel-video {
        height: 83vh;
    }
    .boxModel-video video {
        width: 85%;
    }

    #gridIconos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "ic1 ic2" "ic3 ic4" "ultIc ultIc";
    }
    #gridIconos img {
        width: 120px;
    }
    #gridIconos a,
    #gridIconos p {
        font-size: 2.5rem;
    }

    #gridFotosFinal {
        row-gap: none;
        align-items: flex-start;
    }
    #gridFotosFinal div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    #gridFotosFinal #fotosFinalMedio {
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column-reverse;
    }
    #gridFotosFinal p {
        font-size: 2.8rem;
        margin-top: 15px;
        width: 70%;
    }
    #gridFotosFinal img {
        width: 100%;
        height: 200px;
    }

    /* Productos */

    /* Quienes somos */
    #gridQuienes {
        display: flex;
        flex-direction: column;
        margin: 30px;

    }
    #quienes1_img,
    #quienes2_img {
        width: 100%;
    }
    #quienes1_parrafo,
    #quienes2_parrafo {
        margin-bottom: 50px;
        font-size: 1.7rem;
    }

    /* Contacto */
    .info {
        margin-left: 6px;
    }
    .info p {
        font-size: 1.7rem;
    }
    .info img {
        height: 50px;
        width: 50px;
    }

    #gridInfoContacto div {
        flex-direction: column;
        align-items: center;
    }
    #gridInfoContacto p {
        font-size: 1.5rem;
    } 

    #gridForm {
        display: flex;
        flex-direction: column;
        margin: 0 20px 50px 20px;
    }
    #enviarButton {
        align-self: center;
    }
}


@media screen and (min-width: 767px) and (max-width: 1023px) {
    /* Nav */
    #navbarNav {
        height: 70px;
    }
    
    /* Index */
    #seguinosCelu {
        display: none;
    }


    #gridFotosFinal {
        row-gap: none;
        align-items: flex-start;
    }
    #gridFotosFinal div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    #gridFotosFinal #fotosFinalMedio {
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column-reverse;
    }
    #gridFotosFinal p {
        font-size: 2.8rem;
        margin-top: 15px;
        width: 70%;
    }
    #gridFotosFinal img {
        width: 100%;
        height: 200px;
    }
    

    /* Productos */
    /* #gridProductos p{
        font-size: 1.5rem;
        text-align: center;
    } */


    /* Contacto */
    #gridForm {
        margin: 50px 15%;
    }
}


@media screen and (min-width: 1023px) {
    /* Nav */
    #navbarNav {
        height: 70px;
    }

    /* Pages */
    #seguinosCelu {
        display: none;
    }
}

/* Sitio responsive */