@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

html {
    font-size: 62.5%;
}

/* ---------------- Header de todas las paginas --------------- */

.logo {
    width: 200px;
    display: inline-block;
    padding-top: 10px;
}

.ig {
    width: 20px;
    position: relative;
    top: 6px;
    margin-left: 5px;
}

nav {
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 100;
}

nav div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

nav p {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 30px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    font-size: 0;
    position: relative;
    right: 10px;
}

nav li {
    display: inline-block;
    padding: 5px;
    margin: 10px 15px;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    background-color: black; 
    height: 4vh;
}

footer p {
    color: white;
}

section {
    margin-top: 90px;
}


/* --------------------- Index --------------------- */

#gridIndex {

}

/* Video de inicio */
.boxModel-video {
    height: 91vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-image: url(../media/fondoVideo.jpg);
    background-position: cover; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boxModel-video video {
    width: 70%;
}


/* Iconos */
#icono1 {
    grid-area: ic1;
}
#icono2 {
    grid-area: ic2;
}
#icono3 {
    grid-area: ic3;
}
#icono4 {
    grid-area: ic4;
}
#ultimaFilaIconos {
    grid-area: ultIc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gridIconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    row-gap: 50px;
    column-gap: 3%;
    grid-template-areas: "ic1 ic2 ic3 ic4" "ultIc ultIc ultIc ultIc";

    margin-top: 25px;
    margin-bottom: 50px;
}

#icono1,
#icono2,
#icono3,
#icono4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#gridIconos img {
    width: 80%;
}
#gridIconos figcaption {
    font-size: 200%;
    text-align: center;
}
#gridIconos a,
#gridIconos p {
    font-size: 3rem;
}
#gridIconos a {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 2.5rem;
    text-decoration: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
}


/* Fotos del final */

#gridFotosFinal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
}
#gridFotosFinal img {
    width: 75%;
    height: 400px;
}
#gridFotosFinal p {
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    width: 25%;
}
#gridFotosFinal div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* .boxModel-fotosFinal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.boxModel-fotosFinal div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#divDelMedioFotosFinal {
    margin: 10px 0;
}

.boxModel-fotosFinal img {
    width: 75vw;
    height: 400px;
}

.boxModel-fotosFinal p {
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    width: 25vw;
} */

/* --------------------- Foto comun pages --------------------- */

.foto-comun-pages {   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;

    background-image: url(../media/fotoPages.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.foto-comun-pages p {
    display: inline-block;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    /* border: 3px solid black; */
    background-color: rgba(200, 66, 39, 0.783);
    margin: auto;
}

/* --------------------- Productos --------------------- */

.boxModel-productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.boxModel-productos img {
    width: 85%;
    height: 60%;
    border: 1px solid black;
}

.boxModel-productos p {
    font-size: 2rem;
    text-align: center;
} 

.boxModel-productos__adentroDelDiv {
    width: 350px;
    height: 500px;
    display: inline-block;
    border: 2px solid black;
    margin-top: 80px;
    margin-bottom: 50px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.boxModel-productos__adentroDelDiv_button {
    padding: 10px 20px;
    background-color: grey;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

/* --------------------- Galeria de fotos --------------------- */

.boxModel-galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.boxModel-galeria img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 50px 20px;
}


/* --------------------- Quienes Somos --------------------- */

.boxModel-quienesSomos,
.boxModel-quienesSomos--reverse {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5% 10%;
}

.boxModel-quienesSomos--reverse {
    display: flex;
    flex-flow: row-reverse wrap;
}

.boxModel-quienesSomos img,
.boxModel-quienesSomos--reverse img {
    border: 2px solid black;
    width: 350px;
    height: 350px;
}

.boxModel-quienesSomos div,
.boxModel-quienesSomos--reverse div {
    display: inline-block;
    width: 40%;
    height: 100%;
}

.boxModel-quienesSomos h3,
.boxModel-quienesSomos--reverse h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    padding-top: 20px;
}

.boxModel-quienesSomos p,
.boxModel-quienesSomos--reverse p {
    display: inline-block;
    font-size: 2rem;
    text-align: justify;
}

/* --------------------- Contacto --------------------- */

/* barrita info contacto */
.boxModel-infoContacto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border: 2px solid black;
}

.boxModel-infoContacto div {
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.boxModel-infoContacto img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 3px solid black;
    margin-right: 10px;
}

.boxModel-infoContacto p {
    display: inline-block;
    font-size: 2rem;
}

/* form */
.boxModel-Articleform {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

}

.boxModel-Articleform__conjunto {
    margin: 15px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}


.boxModel-Articleform__conjunto__cadaTextBox {
    display: inline-block;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 5px;
}

.boxModel-Articleform__conjunto__cadaTextBox textarea {
    width: 700px;
}

.boxModel-Articleform__conjunto__cadaTextBox input {
    width: 330px;
    height: 30px;
}

.boxModel-Articleform__conjunto__cadaTextBox label {
    font-size: 1.75rem;
}

#campoObligatorio {
    font-size: 1.3rem;
}

#enviarButton {
    text-align: center;
}

#enviarButton input {
    font-size: 1.75rem;
    padding: 10px 15px;
    border: none;
    background-color: orange;
    border-radius: 5px;
}


/* --------------------- Media Queries --------------------- */

/* Celular */




/*    (header y footer quedan iguales en todas)
header

#sectionIndex
gridArea: "sectionIndex"

footer

#sectionProductos
gridArea: "sectionProductos"

atc etc

y vas haciendo grids para diseñar cada pagina 
*/


/* 
@media screen and (max-width: 767px) { }

@media screen and (min-width: 768px) and (max-width: 1023px){ }
 */